.match {
  animation: matchCards 0.5s;
}

.mismatch {
  animation: shakeCards 0.5s;
}

@keyframes matchCards {
  10%,
  30% {
    transform: scaleY(1.25);
  }
  20%,
  40% {
    transform: scaleX(1.25);
  }
  50% {
    transform: scaleX(1);
    transform: scaleY(1);
  }
}

@keyframes shakeCards {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(0.5rem);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(-0.5rem);
  }
}
